//
   Created by 明阳 on 2015/3/8.

extends layout

block content
    .row
        .col-md-1
        .col-md-10
            table#mytable.display(cellspacing='0', width='100%')
                thead
                    tr
                        th 编号
                        th 单位
                        th 浇注时间
                        th 收样时间
                        th 报告时间
                        th 摘要
                tfoot
                    tr
                        th 编号
                        th 单位
                        th 浇注时间
                        th 收样时间
                        th 报告时间
                        th 摘要
                tbody
                    - for(var i = 0 ; i < report.length ; ++i) {
                        tr
                            th
                                a(href='/view?id='+report[i].id)=report[i].id
                            th=report[i].company
                            - var mydate = new Date(report[i].jzdate);
                            th=mydate.getFullYear()+'-'+(mydate.getMonth()+1)+'-'+mydate.getDate()
                            - mydate = new Date(report[i].sydate);
                            th=mydate.getFullYear()+'-'+(mydate.getMonth()+1)+'-'+mydate.getDate()
                            - mydate = new Date(report[i].bgdate);
                            th=mydate.getFullYear()+'-'+(mydate.getMonth()+1)+'-'+mydate.getDate()
                            th="zzzz"
                    - }
        .col-md-1
    script.
        $('#mytable')
            .addClass( 'nowrap' )
            .dataTable({
                responsive: true
            } );