//
   Created by 明阳 on 2015/3/8.

extends layout

block content
    .row
        .col-md-1
        .col-md-10
            table#mytable.display(cellspacing='0', width='100%')
                thead
                    tr
                        th 编号
                        th 单位
                        th 浇注时间
                        th 收样时间
                        th 报告时间
                        th 摘要
                tfoot
                    tr
                        th 编号
                        th 单位
                        th 浇注时间
                        th 收样时间
                        th 报告时间
                        th 摘要
                tbody
                    - for(var i = 0 ; i < report.length ; ++i) {
                        tr
                            th
                                a(href='/view?number='+report[i].number)=report[i].number
                            th=report[i].company
                            th=report[i].jzdate
                            th=report[i].sydate
                            th=report[i].bgdate
                            th="暂时没做"
                    - }
        .col-md-1
    script.
        $('#mytable')
            .addClass( 'nowrap' )
            .dataTable({
                responsive: true
            } );